@charset "UTF-8";
header .main-menu .item:nth-child(2) .item__name a {
  color: #35C5F0;
}


/* mypage menu */
/* .mypage {
  
} */
.mypage .inner {
  padding: 50px 0;
}
.mypage .user-menu {
  display: flex;
  position: relative;
  justify-content: center;
}
/* .mypage .user-menu .item {
} */
.mypage .user-menu .item::before {
  content: "";
  width: 2px;
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #ccc;
}
.mypage .user-menu .item:first-child::before {
  display: none;
}
.mypage .user-menu .item a {
  font-size: 24px;
  padding: 11px 20px;
  font-family: 'Jua', sans-serif;
}
.mypage .user-menu .item a:hover {
  color: #333;
}
.mypage .user-menu .item:nth-child(5) a {
  color: #35C5F0;
}




/* 
  edit
*/
.delete .inner {
  height: 550px;
}
.delete #formTag {
  padding: 30px;
  margin-left: 50px;
  font-weight: 700;
}
.delete #formTag input{
  border: 2px solid #aaa;
}
.delete #formTag input:focus{
  outline: 2px solid #35C5F0;
}
.delete #formTag #pwdHelp {
	color: #FF0000;
}
.delete #formTag .text {
  width: 130px;
}
.delete #formTag .button-group {
  display: flex;
}
.delete #formTag .smt {
  width: 200px;
  color: #fff;
  display: block;
}